<div class="container-fluid product-page" style="padding-top: 9px; padding-bottom: 79px">
   <div class="container current-page">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="../index" class="breadcrumb">Fruitfarm</a>
            <a href="index" class="breadcrumb">Admin Dashboard</a>
          </div>
          <form method="GET" action="search.php">          
            <div class="input-field">            
              <input id="search" class="searchings" type="search" name='searched' placeholder="Search for an order or user" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>

            <div class="center-align">
              <button type="submit" name="search" class="blue waves-light miaw waves-effect btn hide">Search</button>
            </div>
          </form>          
        </div>
      </nav>
    </div>
   </div>

<div class="container dashboard">
  <div class="row">
         <div class="col s12 m4">
           <div class="card horizontal">
             <div class="card-image">
               <img src="src/img/fruit-basket.png" alt="" />
             </div>
             <div class="card-stacked">
              <div class="card-content">
                <p><a href="infoproduct" class="black-text">Products</a></p>
              </div>
               <div class="card-action">
                 <a href="infoproduct" class="blue-text">Learn more</a>
               </div>
             </div>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="card horizontal">
             <div class="card-image">
               <img src="src/img/cat.png" alt="" />
             </div>
             <div class="card-stacked">
        <div class="card-content">
          <p><a href="products" class="black-text">Stock</a></p>
        </div>
             <div class="card-action">
               <a href="products" class="blue-text">Learn more</a>
             </div>
             </div>

           </div>
         </div>

         <div class="col s12 m4">
           <div class="card horizontal">
             <div class="card-image">
               <img src="src/img/user.png" alt="" />
             </div>
             <div class="card-stacked">
              <div class="card-content">
                <p><a href="allusers" class="black-text">Users</a></p>
              </div>
               <div class="card-action">
                 <a href="allusers" class="blue-text">Learn more</a>
               </div>
             </div>
           </div>
         </div>